
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 100%;
    

}
html{
    font-size: 62.5%;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    color:black;
    background-color: #cb997e;
    font-family: 'Irish Grover', cursive;
    
}

.head{
    display: flex;
    flex-wrap: wrap;
    
}

 h1{ 
    
    font-size:6rem;
    margin-left: 5%;
    margin-top: 1%;
    
    }

.destinations {
  
   display: flex;
   justify-content: space-evenly;
   font-size: 4rem;
   margin-bottom: 4%;
   margin-top: 2%;
    
   
}
.destinations a{

    text-decoration: none;
    color: black;
    border: 1px solid #b7b7a4;
    border-radius: 50%  ;
    background-color: #b7b7a4;
    width: 10%;
    display: flex;
    justify-content: center;
}
a:hover{
    background-color: black;
    border: 1px solid black;
    color:#b7b7a4;
}
#second{
    display: flex;
    flex-direction: row;  
    margin-right: 2%;
    
   
    
}
img{
    width:95%;
    
}
.title{
    width: 60%;
    display: flex;
     flex-direction: column;
     text-align: center;
     align-content: space-around;
     justify-content: center;
}
 h2{
     font-size: 4rem;
 }
 .project{
     display: flex;
          
          align-self: center;   
          }
.project a{
display: flex;
  font-size: 3rem;
  flex-direction: column;
  text-align: center;
  border: 1px solid #b7b7a4;
  text-decoration: none;
  background-color: #b7b7a4;
  color: black;
  border-radius: 40%;
 }
 .project a:hover{
     color:#b7b7a4;
     background-color: black;
     border: 1px solid black;
 }
  p{
    font-family: 'Zen Old Mincho', serif;
    font-size: 2.5rem;
 }
#middle{
    display: flex;
    flex-wrap: wrap;
    width:100%
    
}

#middle img{
    width:40%;
    margin-top: 3%;
    
}
.life {
    display: flex;
    flex-direction: row;
    text-align: center  ;
    justify-content: space-evenly;
    
   
    
    
}
.hobbies{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.img1{
    
display: flex;
flex-direction: column;
text-align: center ;
align-content: space-around;
width: 50%;


}
.img1 img{
    display: flex;
    align-self: center;
    flex:70%;
    padding:5px;
    
}
h3{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Zen Old Mincho', serif;
    
}
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e76f51;
    margin-top: 2%;
    
}
.info a{
    background-color: #b7b7a4;
    border-radius: 40%;
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
    border:1px solid #b7b7a4;
    
    
}
.info{
    margin-bottom: 3%;
}
.info a:hover{
   color:#b7b7a4;
   background-color: black;
   border: 1px solid black ;
   
}
.ending {
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (max-width: 800px){

}

@media (max-width: 500px){
    
}


   
    


