
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 100%;
    border: 1px solid red;
}
html{
    font-size: 62.5%;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    color:black;
    background-color: #cb997e;
    font-family: 'Irish Grover', cursive;
    
}
.head{
    display: flex;
    flex-wrap: wrap;
    
}

 h1{ 
    
    font-size:6rem;
    margin-left: 5%;
    margin-top: 1%;
    
    }

.destinations {
  
   display: flex;
   justify-content: space-evenly;
   font-size: 2rem;
   margin-bottom: 2%;
}
a{

    text-decoration: none;
    color: black;
    border: 1px solid #b7b7a4;
    border-radius: 50%  ;
    background-color: #b7b7a4;
    width: 10%;
    display: flex;
    justify-content: center;
}
a:hover{
    background-color: black;
    border: 1px solid black;
    color:#b7b7a4;
}
.second{
    display: flex;
    flex-direction: row;
    
}
.mainimage{
    width:40%;
    
}
.title{
    display: flex;
    flex-direction: column;
    
}
.title h2{
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    margin-right:10%;
}
